/* General CSS */

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }

    #logo-nav {
        font-size: 25px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) and (min-width: 260px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    #logo-nav {
        font-size: 4vw;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 261px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    #logo-nav {
        font-size: 3vw;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-bottom:0;
    #font-size: 2vw;
}

@font-face {
    font-family: "DeadKansas";
    src: url("../assets/font/DeadKansas.ttf") format('truetype');
}

.mainTitle {
    margin: 0;
    padding: 50px;
    #padding-bottom: 20px;
}

h1, h2 {
    font-family: "DeadKansas";
    text-align: center;
}

.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}

.presentationOn3D {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

#skipPresentation {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    cursor: pointer;
}

#textPres, #titlePres {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#logo-nav {
    font-family: "DeadKansas";
    letter-spacing: 1px;
}

#learnMoreButton {
    text-align:center;
}

.allExceptFooter {
    padding-bottom: 60px; /* this needs to be bigger than footer height*/
    #min-height: 100vh;
}

.footer {
    position: relative;
    margin-top: -60px; /* negative value of footer height */
    height: 60px;
    clear:both;
    padding-top:20px;
    bottom: 0;
    background-color: #E8EBEF;
}

.btn-primary {
    background-color: #373D42;
    border-color: black;
    text-align: center;
    color: white;
}

.btn-primary.export {
    background-color: #6c757d;
    border-color: black;
    text-align: center;
    font-weight: bold;
}

.btn-primary:hover {
    background: white;
    border-color: black;
    color: black;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary .form-control {
    outline: none !important;
    box-shadow: none;
}

.card-header {
    background-color: #E8EBEF;
}

.debug1 {
    width: 100%;
    height: 500px;
    background-color: #0c5460;
}

.debug2 {
    width: 100%;
    height: 600px;
    background-color: darkorange;
}

/* Index CSS */

#optionsButton {
    cursor: pointer;
    position:absolute;
    top:5px;
    left:10px;
}

.min-opt {
    padding: 0;
}

.opt-graphs {
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid black;
    background-color: #cccccc;
}

.optOnGraph {
    position:absolute;
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid black;
    background-color: #cccccc;
    z-index:2;
    top: 0;
    left: 0;
    cursor: move;
}

.col-centered{
    float: none;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
}

#timer {
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-weight: bolder;
}

#leftButtons {
    cursor: pointer;
    display: inline-flex;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

#rightButtons {
    cursor: pointer;
    display: inline-flex;
    padding-right: 10px;
}

#speed {
    position: absolute;
    bottom: 25px;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-weight: bolder;
}

#help {
    position: absolute;
    cursor: help;
    top: 5px;
    right: 10px;
}

#slider {
    flex-grow: 1;
    bottom:-7px;
}

.noUi-connect {
    background: #E8EBEF;
}

.noUi-horizontal .outer {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    background: #262A2D;
    border: none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
}

.noUi-horizontal .inner {
    background: transparent;
    width: 10px;
    height: 20px;
    border-top: solid 10px rgb(200,30,50);
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
    border-bottom: transparent;
    box-shadow: none;
    outline: none;
    cursor: default;
}

.noUi-connects, .noUi-base, .noUi-target, .noUi-connect{
    height: 10px;
}

.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
    content: '';
    background: transparent;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}

.fake-fill {
    position: absolute;
    top: 0;
    height: 100%;
    background: black;
    z-index: 0;
}

#bottomButtons {
    display: flex;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

#statsTitle {
    margin: 0px;
}

.cardheader {
    border: 0;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Upload CSS */

.clickableUpload {
    color: black;
}

.warning {
    color: red;
    font-weight: bold;
}


/* 2D viz */

#middle-text {
    fill: white;
    font-family: "Courier New";
    font-size: 20px;
    font-weight: bolder;
}

.voronoi-poly {
    stroke-width: 0.1;
    stroke: black;
    fill: none;

}
.the-walls {
    vector-effect: non-scaling-stroke;
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.the-zones {
    vector-effect: non-scaling-stroke;
    stroke: gray;
    stroke-width: 2;
    fill: white;
    opacity: 0;
}

.controlled-areas {
    vector-effect: non-scaling-stroke;
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.flow-gates {
    vector-effect: non-scaling-stroke;
    stroke: blue;
    stroke-width: 1;
    opacity: 0;
}

.ped-individual {
    vector-effect: non-scaling-stroke;
    fill: red;
}

.ped-trajectory {
    vector-effect: non-scaling-stroke;
    stroke: gray;
    stroke-width: 1;
    fill: none;
}
.the-flow-lines {
    vector-effect: non-scaling-stroke;
    stroke: gray;
    stroke-width: 1;
    fill: none;
}

#voronoi-area {
    vector-effect: non-scaling-stroke;
    stroke: black;
    stroke-width: 2;
    fill: none;
}

.drawing_pannel {
    vector-effect: non-scaling-stroke;
    stroke: none;
    fill: none;
}

.voronoi-pre-circle {
    vector-effect: non-scaling-stroke;
    fill: black;
}

#viz {
    margin: 0;
    padding: 0px;
    #padding: -10px;
    #background-color: red;
}

#svgCont {
    padding: 0px;
    z-index: 1;
}

/* Chord Diagram */

#tooltip {
    color: white;
    opacity: .9;
    background: #333;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.chordlabels {
    font-size: 15px;
    font-weight: bold;
}

path.group {
    fill-opacity: 0.8;
}

path.chord {
    fill-opacity: 0.8;
    stroke: #000000;
    stroke-width: 0.5px;
}

#circle:hover path.fade {
    display: none;
}

#containerForOD {
    max-width: 700px;
    margin-left:auto;
    margin-right:auto;
}

#ODCont {
    text-align: center
}

/* Stats */

.graph {
    width: 100%;
    height: 0px;
}

/* Custom slider */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #1b1e21;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
}

#nbrBinsValue {
    font-weight: bold;
}

.sliderDiv {
    padding-right: 0
}

.sliderDisp {
    padding-left: 0
}

.subtitle {
    font-weight: bold;
}

.subsubtitle {
    font-weight: bold;
    font-size: 14px;

}

.dot {
    font-weight: bolder;
    font-size: 20px;
}

.download {
    background-color: black;
    border-color: black;
    text-align: center;
    color: white;
}

.btn-primary.download:hover {
    background: white;
    border-color: black;
    color: black;
}

/* d3 TIP */

.d3-tip {
    line-height: 1;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    pointer-events: none;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
    hideDelay: 0;
}

.bar:hover {
    opacity: 0.6 ;
}

.title_options {
    font-size: 25px;
    font-weight: bold;
}

.graph-debug {
    width: 100%;
    height: 100px;
    background-color: #0c5460;
}

.svg-container {
    display: block;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: center;
    #overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
}

.opt-graphs {
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid black;
    background-color: #cccccc;
    font-size: 12px;
}

.opt-graphs-buttons {
    font-size: 12px;
}