body {
    padding-top: 3.8rem;

    #font-family: 'Ubuntu', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.navbar, .jumbotron {
}

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    text-align:center;
}

#logo-nav {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

#learnMoreButton {
    text-align:center;
}

