#notes {
    color: #000000;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    bottom: 10px;
    left: 10px;
}