body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#title {
  text-align: center;
  font-weight: bold;
}

p {
    text-align: justify;
}

.width-limited {
    max-width: 55rem;

    /* Center horizontally: */
    margin-left: auto;
    margin-right: auto;
}


#viz {
    width: 100%;
    /* Center the title using flexbox */
    /*display: flex;*/
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;

    background-color: rgb(50, 50, 50);
}

table {
    font-size: 20px;
}


td {
    padding: 6px;
}

.inner-table {
    font-size: 16px;
}

.row-header {
    font-weight: bold;
    vertical-align: top;
}

.toggle-visibility {
    display: none;
}


