<div class="optOnGraph rounded" id="dragOpt">
    <a id="hideButton" role="button" title="Hide" onclick="hideOptions()"><i class="fas fa-minus fa-lg"></i></a>

    <div class="container">
        <h2>Options</h2>
        <hr>
        <div class="row">
            <div class="col-12 min-opt">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="hide" onclick="hideWalls()">
                    <label class="form-check-label" for="hide">Hide walls</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 min-opt">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="changeStyle" onclick="changeStyle3D()">
                    <label class="form-check-label" for="hide">TWD style</label>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary btn-block" id="changeData" onclick="">Change Data</button>
            </div>
        </div>
    </div>
</div>
