body {
    font: 10px sans-serif;
}

#middle-text {
    fill: white;
    font-family: "Courier New";
    font-size: 20px;
    font-weight: bolder;
}

.background-walls {
    stroke: blue;
    stroke-width: 2px;
    fill: none;
}