body {
    font: 10px sans-serif;
}

#middle-text {
    fill: white;
    font-family: "Courier New";
    font-size: 20px;
    font-weight: bolder;
}

.the-walls {
    vector-effect: non-scaling-stroke;
    stroke: black;
    stroke-width: 2;
}

.the-zones {
    vector-effect: non-scaling-stroke;
    stroke: gray;
    stroke-width: 2;
    fill: none;
}

.controlled-areas {
    vector-effect: non-scaling-stroke;
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.flow-gates {
    vector-effect: non-scaling-stroke;
    stroke: blue;
    stroke-width: 1;
}

.ped-trajectory {
    vector-effect: non-scaling-stroke;
    stroke: gray;
    stroke-width: 2;
    fill: none;
    opacity: 0.1;
}

.ped-individual {
    vector-effect: non-scaling-stroke;
    r: 0.15;
    fill: red;
}
