#notes {
    color: #000000;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    bottom: 30px;
    left: 10px;
}

#buttons {
    color: #000000;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#timer {
    color: #000000;
    font-family: "Fira Mono", Monaco, "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;

}